extends layout 

block content 
  h1= title 
  if book_list.length 
    ul.list-group.list-group-numbered
      li.list-group-item.d-flex.justify-content-between.align-items-start
        p.normalized Book Title 
        |   Author
      each book in book_list 
        li.list-group-item.d-flex.justify-content-between.align-items-start
          a(href=book.url class='fw-bold') #{book.title}
          |  (#{book.author.name})

  else  
    p There are no books available
    